<section>
  <tr>
    <td class="pad">{{act.name}}</td>
    <td class="pad center perc5">{{act.data.data.pools.hp.value}}/{{act.data.data.pools.hp.max}}</td>
    <td class="pad center perc5">{{act.data.data.pools.ap.value}}/{{act.data.data.pools.ap.max}}</td>
    <td class="pad center perc5">{{act.data.data.armour_value}}</td>
  </tr>
</section>