<section>
    <nav class="race-tabs tabs" data-group="race">
    {{#each races as |race|}}
        {{#if (eq race.playable true)}}
        <a data-tab="{{@key}}">{{race.label}}</a>
        {{/if}}
    {{/each}}
    </nav>
    <section class="race-body">
    {{#each races as |race|}}
        {{#if (eq race.playable true)}}
        <div class="tab {{@key}}" data-group="race" data-tab="{{@key}}">
            {{#if race.variants}}
                <nav class="{{@key}}-variants">
                {{#each race.variants as |variant|}}
                    <a data-tab="{{@key}}">{{variant.label}}</a>
                {{/each}}
                </nav>
                <section class="{{@key}}-body">
                {{#each race.variants as |variant|}}
                    <div class="tab {{@key}}" data-group="{{@../key}}-variants" data-tab="{{@key}}">
                        {{> "systems/dc/templates/shared/race-display.hbs" stats=../stats race=variant}}
                    </div>
                {{/each}}
                </section>
            {{else}}
                {{> "systems/dc/templates/shared/race-display.hbs" stats=../stats race=race}}
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
    </section>
</section>