<section>
    {{log this}}
    <nav class="system-tabs tabs" data-group="system-main">
        <a data-tab="races">Races</a>
        <a data-tab="classes">Classes</a>
        <a data-tab="abilities">Abilities</a>
        <a data-tab="spells">Spells</a>
    </nav>
    <section class="system-body">
        <div class="tab races" data-group="system-main" data-tab="races">
            <table>
            {{#each template.races as |race|}}
                {{#if (eq race.playable true)}}
                    <tr>
                        <td class="center">{{race.label}}</td>
                        <td class="center race-edit" data-variant="false" data-race="{{@key}}"><i class="fa-solid fa-pen-to-square"/></td>
                        <td class="center race-delete" data-variant="false" data-race="{{@key}}"><i class="fas fa-trash"/></td>
                    </tr>
                    {{#if race.variants}}
                        {{#each race.variants as |variant|}}
                            <tr>
                                <td>{{variant.label}}</td>
                                <td class="center race-edit" data-variant="true" data-race="{{@key}}"><i class="fas fa-pen-to-square"/></td>
                                <td class="center race-delete" data-variant="false" data-race="{{@key}}"><i class="fas fa-trash"/></td>
                            </tr>
                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/each}}

            {{#each template.races as |race|}}
                {{#if (eq race.playable false)}}
                <tr>
                    <td>{{race.label}}</td>
                </tr>
                {{/if}}
            {{/each}}
            </table>
        </div>
    </section>
</section>