<section>
    <nav class="system-tabs tabs" data-group="system-main">
        <a data-tab="races">Races</a>
        <a data-tab="classes">Classes</a>
        <a data-tab="abilities">Abilities</a>
        <a data-tab="spells">Spells</a>
    </nav>
    <section class="system-body">
        <div class="tab races" data-group="system-main" data-tab="races">
            <table>
                <tr>
                    <th class="center">Race/Bloodline</th>
                    <th class="center">Add</th>
                    <th class="center">Edit</th>
                    <th class="center">Delete</th>
                </tr>
            {{#each template.races as |race|}}
                {{#if (eq race.playable true)}}
                    <tr>
                        <td class="center"><b>{{race.label}}</b></td>
                        <td class="center race-edit" data-variant="false" data-race="{{@key}}"><a><i class="fas fa-square-plus"/></a></td>
                        <td class="center race-edit" data-variant="false" data-race="{{@key}}"><a><i class="fas fa-edit"/></a></td>
                        <td class="center race-delete" data-variant="false" data-race="{{@key}}"><a><i class="fas fa-trash"/></a></td>
                    </tr>
                    {{#if race.variants}}
                        {{#each race.variants as |variant|}}
                            <tr>
                                <td>{{variant.label}}</td>
                                <td></td>
                                <td class="center race-edit" data-variant="true" data-race="{{@key}}"><i class="fas fa-edit"/></td>
                                <td class="center race-delete" data-variant="false" data-race="{{@key}}"><i class="fas fa-trash"/></td>
                            </tr>
                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/each}}
            {{#each template.races as |race|}}
                {{#if (eq race.playable false)}}
                <tr>
                    <td>{{race.label}}</td>
                </tr>
                {{/if}}
            {{/each}}
            </table>
        </div>
    </section>
</section>