<section>
  <div class="flexrow">
    <div class="center pad">
      <table>
        <tr>
          <td class="perc40 pad center">Name</td>
          <td class="perc40 pad center"><input class="center" type="text" name="name" value="{{actor.name}}" data-edit="name"/></td>
          <td class="perc20 pad center"></td>
        </tr>
        <tr>
          <td class="perc40 pad center">Size</td>
          <td class="perc40 pad center">{{actor.data.data.size}}</td>
          <td class="perc20 pad"></td>
        </tr>
        <tr>
          <td class="perc40 pad center">Currency</td>
          <td class="perc40 pad center"><input type="number" name="data.currency" value="{{actor.data.data.currency}}"></td>
          <td class="perc20 pad"></td>
        </tr>
        <tr>
          <td class="perc40 pad center">Loot Target</td>
          <td class="perc40 pad center"><input type="number" name="data.loot_target" value="{{actor.data.data.loot_target}}"></td>
          <td class="perc20 pad center"><a class="target-roll" data-formula="1d6cs>={{actor.data.data.loot_target}}" data-roll_label="Treasure Roll [{{actor.data.data.loot_target}}]"><i class="fa fa-dice" /></a></td>
        </tr>
      </table>
    </div>
    <div class="pad">
      <table>
      {{#each data.data.pools as |pool|}}
        {{#if (eq pool.active true)}}
          <tr>
            <td class="center">{{pool.label}}</td>
            {{#isGM}}
            <td><input class="small-input" type="number" name="data.pools.{{@key}}.value" value="{{pool.value}}"/></td>
            {{else}}
            <td class="center">{{pool.value}}</td>
            {{/isGM}}
            <td class="perc5">/</td>
            <td class="center">{{pool.max}}</td>
          </tr>
        {{/if}}
      {{/each}}
      </table>
    </div>
  </div>
  <div>
    {{> "systems/dc/templates/shared/action-buttons.hbs"}}
  </div>
  <h1 class="pad"></h1>
  <div class="flexrow">
    <div class="pad">
      {{> "systems/dc/templates/shared/sheet-panel.hbs" group='panel1'}}
    </div>
    <div class="pad">
      {{> "systems/dc/templates/shared/sheet-panel.hbs" group='panel2'}}
    </div>
  </div>
  <div class="center"><a class="nuke-sheet">!NUKE SHEET!</a></div>
</section>