{{!-- 
    @param: {DICT} stats : The stats for the loaded system
    @param: {DICT} race  : The data object for the race to be displayed.
    @param: {STR}  key   : The key for the current stat.
 --}}
<section>
    <div>
        <h2 class="center" id="{{uuid}}-label">{{race.label}}</h2>
    {{#each race.descriptions.main as |line|}}
        <p class="center" id="{{../uuid}}-descriptions.main.{{@index}}">{{line}}</p>
    {{/each}}
        <h2></h2>
        <h2 class="center">Modifiers</h2>
        <table>
        {{#each race.modifiers as |mod|}}
            <tr>
                <td class="perc30 center" id="{{uuid}}-modifiers.{{@index}}.label">{{mod.label}}</td>
                <td class="perc30 center" id="{{uuid}}-modifiers.{{@index}}.description">{{mod.description}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</section>