{{!-- 
    @param: {DICT} stats : The stats for the loaded system
    @param: {DICT} race  : The data object for the race to be displayed.
    @param: {STR}  key   : The key for the current stat.
 --}}
<section>
    <div>
        <h2 class="center" id="{{uuid}}-label">{{race.label}}</h2>
    {{#each race.descriptions.main as |line|}}
        <p class="center" id="{{../uuid}}-descriptions.main.{{@index}}">{{line}}</p>
    {{/each}}
        <h2></h2>
        <table>
    {{#each race.modifiers as |mod|}}
            <tr>
                <td class="perc30 center">{{mod.label}}</td>
                <td class="perc30 center">{{lookup mod.descriptions.main 0}}</td>
            </tr>
    {{/each}}
        </table>
        <h2></h2>
        <button class="select-option" data-target="races" data-main_field="{{@key}}" data-main_target="race" data-sub_field="{{race.sub_field}}" data-sub_target="bloodline">Choose {{race.label}}</button>
    </div>
</section>